.App {
    font-family: sans-serif;
    text-align: center;
    padding: 3em;
  }
  
  img {
    width: 9em;
  }
  
  .tick {
    font-size: 3em;
  }
  
  .timer_wrap{
    font-size: calc(0.05em + 0.6vw);
  }

  .empty{
    height: calc(1em + 3vw);
  }

  .age{
    font-size: calc(1em + 7vw);
    text-align: center;
    color: hsl(0, 69%, 47%);
  }
